.chefImage{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.mu-title .mu-subtitle {
    font-size: 50px;
    font-family: "Tangerine", cursive;
    line-height: 30px;
  }
  
  .mu-title h2 {
    color: #000;
    font-size: 35px;
    margin-bottom: 5px;
  }

.chefImage{
    width:200px;
    height:300px;
} 




@media (min-width: 768px) and (max-width: 1024px) {
    
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    
    
  }